.calendar {
  padding: 10px;
}
.month-container {
  overflow: hidden;

  width: 100%;

  will-change: transform;
}
.month-container-inner {
  display: flex;

  flex-wrap: nowrap;
  &.animate {
    transition: all .5s;
  }
}
.month-item {
  width: 100%;
  padding-top: 30px;

  flex: 1 0 auto;
  
  .month-toggle {
    display: flex;
    justify-content: center;
    .current-month {
      width: 100px;
    }
    .month-toggle-last-year {
      width: 40px;
      height: 40px;
    }
    .month-toggle-last-month {
      width: 40px;
      height: 40px;
    }
    .month-toggle-next-month {
      width: 40px;
      height: 40px;
    }
    .month-toggle-next-year {
      width: 40px;
      height: 40px;
    }
  }

  .week-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .week-show-item {
      width: 32px;
      height: 40px;
      flex-grow: 1;
      text-align: center;
    }
  }

  .row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-bottom: 10px;
  }
}


.day-item-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  color: #222;

  &.last,
  &.next {
    // opacity: 0;
    color: #ccc;
  }

  .day-item {
    display: flex;
  
    text-align: center;
    width: 32px;
    height: 40px;
    // flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    position: relative;
    
    .day-show {
      display: flex;
  
      width: 30px;
      height: 30px;
  
      pointer-events: none;
  
      border-radius: 100%;
  
      align-items: center;
      justify-content: center;
    }
  
    .day-label {
      position: absolute;
      width: 100%;
      white-space: nowrap;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      padding-bottom: 2px;
      
      .label {
        text-align: center;
        font-size: 20px;
        transform: scale(0.3);
        transform-origin: center bottom;
      }
    }
  }

  &.is-today {
    .day-item {
      // font-weight: bold;

      color: #FF8E22;
    }
  }

  &.is-selected {
    .day-item {
      background: #FF8E22;
      border-radius: 2px;
      color: #fff;
      // font-weight: bold;
    }
  }

  &.is-range.is-selected:not(.is-range-selected) {
    background: #FFF2E6;
    .day-item {
      background: transparent;
      color: #222;
    }
  }

  &.is-start-date, &.is-end-date {
    .day-item {
      background: #FF8E22;
    }
  }

  &.is-range-selected {
      .day-item {
        background: #FF8E22;
      }
  }

  // :not(.is-last-date)
  &.is-start-date:not(.is-end-date)::after {
    position: absolute;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: #FFF2E6;
    z-index: -1;
  }

  // :not(.is-first-date)
  &.is-end-date:not(.is-start-date)::before {
    position: absolute;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFF2E6;
    z-index: -1;
  }

  &.is-high-light {
    color: #FF8E22;
  }
}
